.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form {
  margin-top: 2rem;
  width: 30vw;
  border: 2px solid #222;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

label {
  display: block;
  text-align: left;
  padding: 0.4rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}
label > input {
  margin-right: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
